.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Set the background color to your desired color */
    color: #fff; /* Set the text color to your desired color */
    z-index: 1000; /* Set a high z-index to ensure it's always on top */

    display: flex;
    justify-content: center;
}

.navbarcontent {
    color: #000;  
    
    height: 50px;
    width: 200px;

    margin-bottom: 10px; /* Add margin-top to the content to prevent it from being obscured by the fixed navbar */
    margin-top:10px;

    margin-right: 5%;
    margin-left: 5%;
}

.popup {
    display: none;
    width: 30%;
    height: 120px;

    background-color: #333;
    color: white;

    justify-content: center;
    align-items: center;

    font-size: large;
    top:35%;
    left: 35%;
    position: fixed;
    z-index: 1000;
}