.infobox {
  position: absolute;

  border: 2px solid #333;
  border-radius: 5px;
  width: 30vw; /* !ALSO CHANGE IN JS*/
  height: 30vh; /* !ALSO CHANGE IN JS*/
  text-align: center;
  background-color: #FFFFFFF5;;
  transition: transform 0.3s, box-shadow 0.3s;
  display:none;
  flex-direction: column;
  
  text-align: center;
  align-items: center;

  z-index: 1000;

  font-size : 2vh;
  color: #000000;  
}

.infobox-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  justify-content: space-between;
  margin-top: 0;
}

.info-icon {
  margin-right: 0%;
  align-self:flex-start;
  float:left;
  height: 100%;
}

.info-small{
  width:2vw;
  max-height: 5vh;
  margin:auto;
  margin-top: -0.5vh;
  margin-left: 0.3vw;
  align-self:flex-start;
  float:left;
  vertical-align: top;
  z-index: 5;

  border:none;
  background-color: #00000000;
  position: absolute;
}

.infotext {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  overflow: auto;
}

/* High class = "info-small">'light effect on hover */

/* Animation for changing text */
@keyframes changeHighlight {
  0%, 100% {transform:scale(1.00);   box-shadow:none; background-color:#FFFFFFF5;
  }
  
  50% {  transform: scale(1.05);   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); background-color:#FFFFFFF5;

  }
}

.highlight {
  animation: changeHighlight 0.7s;
}

.HideButton{
  display:flex;
  flex-direction: row;
  border: 2px solid #000000;
  background-color: #f00000f5;
  height: 100%;
  width: 20%;
  margin: 0%;
  color: #FFFFFF;
  font-size: 150%;
  text-transform:uppercase;
  justify-content: center;
}
