.inputbox{
  display:flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 5%;

  flex-direction: column;

  width: 280px;
  height: 350px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;
  z-index: 1;

}
.inputCanvas{
  height: 280px;
  width: 280px;
  
  background: none;
  
  position: relative;
  z-index: 2; /* Canvas liegt standardmäßig über anderen Elementen */
}


.controls_column{
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  
  width: 10px;

  margin-left: -2%;
}

.blockcolumn {
  position: relative;

  display: flex;
  float: left;
  flex-direction: column;
  width: 18%;
  padding: 1%;
  align-items: center;
}
/*
.classifier_class {
  background: red;
}
*/
.resetButton{
  bottom: 15px;
  left: 35px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2; /* Canvas liegt standardmäßig über anderen Elementen */
}    

.block{
  display:flex; 
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;

  margin-top: 10px;
  margin-right: 4%;
  margin-left: 4%;
}

.block_editor {
  display:flex;
  align-items: center;
  box-sizing: border-box;

  width: 90%;
  height: 140px;


  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;

  margin-top: 10px;
  margin-right: 4%;
  margin-left: 4%;
}

.MinusButton {
  display: flex;
  background-color: #ff0033;
  border-radius: 25px;
  width: 30%;
  justify-content: center;

  color:#FFFFFF;
  font-size: xx-large;
  font-weight: bolder;

  margin-top: 10px;
  

  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.AddButton {
  display: flex;
  justify-content: center;
  background-color: #04AA6D;
  border-radius: 25px;
  width: 30%;

  color:#FFFFFF;
  font-size:xx-large;
  font-weight: bolder;

  margin-top: 50px;
  margin-left: -50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;


}
.rectanglelayer {
  /* Rectangle 5 */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;



  width: 75%;
  height: 320px;

  background: #D0F4FF;
  border: 2px solid #000000;
}

.rectanglelayerViz {
  /* Rectangle 5 */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  width: 60%;
  height: 140px;
  margin: auto;
  background: #FFFFFF;
  border: 2px solid #000000;
}


.staticClassifier {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  justify-content:  space-between;
  width: 70%;
  height: 520px;

  background: #FFFFFF;
  border: 2px solid #000000;

  
}

.linear_layer{
    width: 10px;
    justify-content: center; 
    align-self: flex-start;
    margin-left:5%;
    margin-right: 50%;
    margin-top: 20%;
  }

.classifier_input{
  height: 5px;
  width: 5px;
  margin-top: 5px;
  background-color: #000000;
  border: 2px solid #000000;
}

.classifier_class {
  height: 40px;
  width: 80%;
  border: 2px solid #000000;
  margin:0;
  text-align: center;

  font-size: xx-large;
}