.infobox {
    box-sizing: border-box;
  
    position: relative;
    width: 60%;
    min-width: 500px;
    height: auto;
    text-align: "center";
    align-items: "center";
    justify-content: center;
    display: flex;
  
    background: #D0F4FF;
    border: 2px solid #000000;
    
    min-height: 200px;
  }
  
  .infotext {
    margin-right: 25%;
    margin-left: 1%;
    display: none;
  }