.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #243958;
    color: #fff; 
    z-index: 1000; 

    display: flex;
    justify-content: center;
}

.navbarcontent {
    color: #000;  
    
    height: 50px;
    width: 200px;

    margin-bottom: 10px; 
    margin-top:10px;

    margin-right: 5%;
    margin-left: 5%;
}

.popup {
    display: none;
    width: 30%;
    height: 120px;

    background-color: #333;
    color: white;

    justify-content: center;
    align-items: center;

    font-size: large;
    top:35%;
    left: 35%;
    position: fixed;
    z-index: 1000;
}