.container-blockVisualization {
    width: 100%;
    height: 60%;

    margin-top: 1%;
    margin-bottom: 1%;

    margin-left: 0%;

    border: 2px #000000 solid;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-triangle {
    width: 30%;
    height: 10%;
    margin:auto;
    margin-top:-2.2%;

    border-bottom: 17vh solid var(--model-background);
	border-left: 15vh solid transparent;
	border-right: 15vh solid transparent;
	height: 0;
	width: 30%;

}

.container-modelconfiguration {
    width: 60%;
    height: 80%;
    margin: auto;

    border: 2px #000000 solid;

    background-color: var(--model-background);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-MNIST {
    width: 10%;
    height:80%;

    margin: auto;
    margin-left: 2%;
    border: 2px #000000 solid;

    display: flex;
    flex-direction: row;
}

.container-model {
    width: 20%;
    height: 90%;

    margin: 1%;
    background-color: var(--model-background);
    border: 2px #000000 solid;
    color: white;
}

.container-classification {
    width: 18%;
    height: 80%;

    margin: auto;
    margin-right: 2%;
    border: 2px #000000 solid;
}

.container-modelconfiguration-options {
    width: 90%;
    height: 30%;

    margin: auto;
    margin-left: 5%;
    border: 2px #000000 solid;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-blocks {
    width: 90%;
    height: 60%;
    margin: auto;
    margin-left: 5%;
    margin-bottom:2%;
    border: 2px #000000 solid;

    display: flex;
    flex-direction: row;
}

.blockcolumn {
    width: 30%;
    height: 95%;

    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px #000000 solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BlockButton {
    width: 100%;
    height: 80%;
    border: 2px #000000 solid;
}

.AddButton {
    margin: auto;
    align-self: center;
    border: 2px #000000 solid;
}

.MinusButton {
    margin: auto;
    align-self: center;
    border: 2px #000000 solid;
}

.container-dropdown {
    width: 40%;
    height: 80%;
    margin: auto;
    margin-left: 5%;
    border: 2px #000000 solid;

    display: flex;
    justify-content: center;
}

.container-slider {
    width: 40%;
    height: 80%;
    margin: auto;
    margin-right:5%;

    border: 2px #000000 solid;
    color: var(--text-on-highlight);
    background-color: var(--highlight-color);
    text-align: center;
}

.KSizeSliderDisplay {
    width: 100%;
    border: 2px #000000 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-grayscale {
    height: 100%;
    box-sizing: border-box;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
}

.grayscale-text {
    margin: auto;
    width: 90%;
    height: 20%;
}

.grayscale-image {
    margin: auto;
    margin-top: 1%;
    width: 80%;
}

.MNIST {
    height: 100%;
    margin: auto;
    width: 100%;
    border: 2px #000000 solid;
    color: var(--text-white);
}

.MNIST_picture {
    width: 90%;
    margin: 10%;
}

.MNIST h2 {
    margin-top: 10%;
    margin-left: 20%;
}

.staticClassifier {
    height: 80%;
    width: 90%;
    margin: auto;
    border: 2px #000000 solid;

    display: flex;
    flex-direction: row;
    color: var(--text-white)
}

.linear_layer {
    background: url('include/linear_layer.gif');
    background-size: 180% 175%;
    background-position: 29% 45%;
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-self: flex-start;
    margin-right: 0%;
    z-index: 0;
}

.container-classification h2 {
    color: var(--text-white);
}

.LinearLayer_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.classes-column{
    width: 40%;
    margin:auto;
    height: 80%;
    border: 2px #000000 solid;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.classifier_class {
    height:8%;
    border: 2px #000000 solid;
}



/*This section is for the walkthrough*/
#skip_tut{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blurred-section {
    filter: blur(5px); /* Ändere die Zahl entsprechend der gewünschten Unschärfe */
    transition: filter 0.3s ease; /* Füge eine Übergangsanimation hinzu */
  }


.speech_bubble{
    position: relative;
    align-self: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px; /* Maximalbreite der Sprechblase */
    bottom: -10px;
    display: none;

}

.walkthrough_text{
    color:black;
    align-items: center;
}

#next_button{
    position: relative;
    bottom:5px;
    right:5px;
}

#training_speech_bubble{
    position:absolute;
    bottom: -5100px;
    right: 400px;


}

#training_graph_speech_bubble{
    position:absolute;
    bottom: -5700px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    padding: 20px;

}

#testing_speech_bubble{
    position:absolute;
    bottom: -5300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    padding: 20px;
}
/*End of Section*/