body {
  text-align: left;
  margin: 20px;
}

h1 {
  font-size: 24px;
}

input[type="range"] {
  width:80%;
  margin: 5px;
  margin-left:25px;
}


.column {
  display: flex;
  float: left;
  flex-direction: column;
  width: auto;
  padding: 10px;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}



/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: auto;
  font-size: auto;
  border: none;
  margin-left: 15px;

  min-width: 200px;
  max-width: 200px;
  min-height: 50px;
  max-height: 50px; /* so it doesnt change size when text changes*/
  /* so it doesnt change size when text changes*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

.sliderDisplay {
  display: flex;
  flex-direction: row;
}

.inputbox{
  display:flex;
  align-items: center;
  box-sizing: border-box;

  width: 90%;
  height: 180px;


  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;

  margin-top: 10px;
  margin-bottom: 10px;

  margin-left:auto;
}

.blockcolumn {
  display: flex;
  float: left;
  flex-direction: column;
  width: 20%;
  padding: 1%;
  align-items: center;
}

.block {
  display:flex;
  align-items: center;
  box-sizing: border-box;

  width: 90%;
  height: 117.44px;


  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;

  margin-top: 10px;
  margin-left:auto;
}

.MinusButton {
  display: flex;
  background-color:#ff0033;
  border-radius: 25px;
  width: 30%;
  justify-content: center;

  color:#FFFFFF;
  font-size: xx-large;
  font-weight: bolder;

  margin-top: 10px;
  margin-left:5%;

  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.AddButton {
  display: flex;
  justify-content: center;
  background-color: #04AA6D;
  border-radius: 25px;
  width: 30%;

  color:#FFFFFF;
  font-size:xx-large;
  font-weight: bolder;

  margin-top: 50px;
  margin-left: -50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;


}
.rectanglelayer {
  /* Rectangle 5 */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  width: 60%;
  height: 229px;

  background: #D0F4FF;
  border: 2px solid #000000;
}

.staticClassifier {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  width: 30%;
  height: 229px;

  background: #D0F4FF;
  border: 2px solid #000000;

  margin-left: 20px;
}


.infobox {
  box-sizing: border-box;

  position: relative;
  width: 40%;
  height: 150px;
  margin-top: 30px;
  margin-left: 20%;
  text-align: "center";
  align-items: "center";
  justify-content: center;
  display: flex;

  background: #D0F4FF;
  border: 2px solid #000000;
}

.infotext {
  margin-right: 20%;
}

.trainingrectangle {
  display:flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  position: relative;
  width: 90%;
  height: 70px;
  margin-top: 30px;

  background: #D0F4FF;
  border: 2px solid #000000;

}
.testrectangle {
  display:flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  position: relative;
  width: 90%;
  height: 70px;
  margin-top: 10px;

  background: #D0F4FF;
  border: 2px solid #000000;

}
.button{
  display:flex;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  height: 60px;
  width: auto;
  margin: auto;
  font-size: 100%;
  text-transform:uppercase;
  align-items: center;
}
.button:hover {
  background-color: #919191; /* Color on hover */
}
.button:active {
  transform: scale(0.95); /* Scale down on click */
}