body {
  text-align: left;
  margin: 20px;
}

h1 {
  font-size: 24px;
}

input[type="range"] {
  width: 80%;
  margin: 20px;
}

.button {
/* Button - Open Links, Navigate Design */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 69px;
height: 51px;


/* Button Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3px 3px 6px;

width: 69px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label Container */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10.5px 21px;

width: 63px;
height: 42px;

background: #FFFFFF;
border: 2px solid #F14722;
box-shadow: 0px 3px 0px #F14722;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 21px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 25px;

color: #333333;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

#value_display {
  font-size: 20px;
  margin: 20px;

}
.column {
  float: left;
  width: auto;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

.inputbox {
  /* Layer 1 */

box-sizing: border-box;

width: 135px;
height: 180px;


background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.block {
/* Layer 1 */

box-sizing: border-box;

width: 135px;
height: 117.44px;


background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.rectanglelayer {
  /* Rectangle 5 */

box-sizing: border-box;

width: 80%;
height: 229px;

background: #D0F4FF;
border: 2px solid #000000;
}

.infobox {
  box-sizing: border-box;

  width: 40%;
  height: 150px;
  margin-top: 30px;
  margin-left: 20%;

  background: #D0F4FF;
  border: 2px solid #000000;
}