<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <!-- Add any additional CSS or styling here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the container takes up the full height of the viewport */
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;">
        <div class = "rectanglelayer">
            <div class = "blockcolumn">
                <button id="block1" class = "block">BLOCK 1</button>
                <button id="Add_block1", class="AddButton"> + </button>
                <button id="Minus_block1" class="MinusButton"> - </button>
            </div>
            <div class = "blockcolumn">
                <button id="block2" class = "block">BLOCK 2</button>
                <button id="Add_block2" class="AddButton"> + </button>
                <button id="Minus_block2" class="MinusButton"> - </button>
            </div>
            <div class = "blockcolumn">
                <button id="block3" class = "block">BLOCK 3</button>
                <button id="Add_block3" class="AddButton"> + </button>
                <button id="Minus_block3" class="MinusButton"> - </button>
            </div>
            <div class = "blockcolumn">
                <button id="block4" class = "block">BLOCK 4</button>
                <button id="Add_block4" class="AddButton"> + </button>
                <button id="Minus_block4" class="MinusButton"> - </button>
            </div>
            <div class = "blockcolumn">
                <button id="block5" class = "block">BLOCK 5</button>
                <button id="Add_block5" class="AddButton"> + </button>
                <button id="Minus_block5" class="MinusButton"> - </button>
            </div>
        </div>
        <form method="post">
        <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Add any additional scripts or JavaScript here -->
    <script src="{{ url_for('static', filename='first_page_script.js') }}"></script>

</body>
</html>
