<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
    <div class = "row">
        <h2> Usable Machine Learning</h2>
        <div class = "column"> 
            <div class="dropdown">
                <button id="ActivationFuncMenu" class="dropbtn" >
                    <span id="selectedOption">Activation function</span>
                </button>
                <div class="dropdown-content">
                  <a href="#" id="act_reluOption">Retified Linear Activation (ReLU)</a>
                  <a href="#" id="act_sigmoidOption">Logistics (Sigmoid)</a>
                  <a href="#" id="act_tanhOption">Hyperbolic Tangent (tanh)</a>
                </div>
            </div> 
        </div>    
        <div class = "column"> 
            <label for="LRateSlider">Learning rate</label>
            <div class= "sliderDisplay">
                <input type="range" id="LRateSlider" min="1" max="256" value="{{ 1 }}">
                <span id="LRateDisplay"></span>
            </div>
        </div>
        <div class = "column"> 
            <label for="BSizeSlider">Batch Size</label>
            <div class= "sliderDisplay">
                <input type="range" id="BSizeSlider" min="1" max="256" value="{{ 32 }}">
                <span id="BSizeDisplay"></span>
            </div>
            
        </div>
        <div class = "column"> 
            <label for="NEpochsSlider">Epochs</label>
            <div class= "sliderDisplay">
                <input type="range" id="NEpochsSlider" min="1" max="256" value="{{ 10 }}">
                <span id="NEpochsDisplay"></span>
            </div>
        </div>
        <div class = "column"> 
            <label for="KSizeSlider">Kernel Size</label>
            <div class= "sliderDisplay">
                <input type="range" id="KSizeSlider" min="1" max="4" value="{{ 2 }}">             
                <span id="KSizeDisplay"></span>
            </div>
        </div>
        <div class = "column"> 
            <label for="StrideSlider">Stride</label>
            <div class= "sliderDisplay">
                <input type="range" id="StrideSlider" min="1" max="4" value="{{ 2 }}">
                <span id="StrideDisplay"></span>
            </div>
        </div>
    </div>
    <div style="display:flex; flex-direction=row;">
        <div class = "rectanglelayer">
            <button id="inputbox" class = "inputbox"> INPUT</button>
            <div class = "column">
                <button id="block1" class = "block"> BLOCK 1</button>
                <button id="Add_block1", class="AddButton"> + </button>
                <button id="Minus_block1" class="MinusButton"> - </button>
            </div>
            <div class = "column">
                <button id="block2" class = "block"> BLOCK 2</button>
                <button id="Add_block2" class="AddButton"> + </button>
                <button id="Minus_block2" class="MinusButton"> - </button>
            </div>
            <div class = "column">
                <button id="block3" class = "block"> BLOCK 3</button>
                <button id="Add_block3" class="AddButton"> + </button>
                <button id="Minus_block3" class="MinusButton"> - </button>
            </div>
            <div class = "column">
                <button id="block4" class = "block"> BLOCK 4</button>
                <button id="Add_block4" class="AddButton"> + </button>
                <button id="Minus_block4" class="MinusButton"> - </button>
            </div>
            <div class = "column">
                <button id="block5" class = "block"> BLOCK 5</button>
                <button id="Add_block5" class="AddButton"> + </button>
                <button id="Minus_block5" class="MinusButton"> - </button>
            </div>
        </div>
        <div class = "staticClassifier">
        </div> 
    </div>
        <br>
        <div class = "row">
            <div class = "infobox">
                <div class = "column">
                    check
                </div>
            </div>
        </div>
    <!-- only need this once -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
