<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usable Machine Learning</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='intro_ml.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blocks/blocks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='infobox/infobox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='options/options') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='training/training') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io/client-dist/socket.io.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/leader-line@1.0.7/leader-line.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.x"></script>

</head>
<body>
    <header class="header-background">
        <div class="container header-content">
            <h1>USABLE MACHINE LEARNING</h1>
        </div>
    </header>
    <section class="ml-fullscreen">
        <div class="container">
            <div class="ml-text">
                <h2>What is Machine Learning?</h2>
                <p>
                    Machine Learning, is a field of artificial intelligence that enables prediction of events as well as recognition of patterns by abstracting from a given dataset. This application covers a typical machine learning task: recognition of hand written digits.</p>
            </div>
        </div>
    </section>
    <main>
        <section class="cnn-explanation">
            <div class="container cnn-container">
                <div class="cnn-text">
                    <h2>Understanding CNNs</h2>
                    <p>
                        Convolutional Neural Networks (CNNs) are at the heart of modern AI, powering advancements in computer vision. From facial recognition to medical image analysis, CNNs help machines see and understand our world.
                    </p>
                    <p>
                        The animation shows how models are able to recognize hand written digits from MNIST - a database containing 60000 handwritten digits.
                    </p>
                </div>
                <div class="cnn-gif">
                    <img src="{{ url_for('static', filename='include/convolution_animation.gif') }}" alt="CNN Process Visualization">
                </div>
            </div>
            <div class="explanation-container">
                <p>The moving red box in the animation is called a <strong>kernel</strong> or <strong>filter</strong>, and it slides over the image to detect features like edges and patterns. The result of this process is what we call a <strong>feature map</strong>, shown on the right, which highlights important details the network will use to make decisions.</p>
            </div>
        </div> 
        </section>
        <section class="model-builder">
            <div class="container model-builder">
                <div class="modelbuilder-text">
                    <h2>The Model Builder</h2>
                </div>

                <div style= "display:block;">
                    <div style="display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    font-family: Arial, sans-serif;
                    text-align: center;">
                        <div class="MNIST" id="inputbox" style="border: 2px solid #000000;">
                            <h2> 
                                MNIST Dataset
                            </h2>
                            <img src="../static/include/Images/UML_MNIST.png" alt="Visualization of handwritten digit from the MNIST set. Shown are 5 items per digit." width="200px">
                        </div>
                        <div id = "rectanglelayer" class = "rectanglelayer" style="margin:5%">
                            <div style="width:100%">
                                <h3> Convolutional Blocks</h3>
                                <div class = "blockcolumn">
                                    <button id="block1"class = "block_editor">BLOCK 1</button>
                                    <button id="Add_block1", class="AddButton"> + </button>
                                    <button id="Minus_block1" class="MinusButton"> - </button>
                                </div>
                                <div class = "blockcolumn">
                                    <button id="block2"class = "block_editor">BLOCK 2</button>
                                    <button id="Add_block2" class="AddButton"> + </button>
                                    <button id="Minus_block2" class="MinusButton"> - </button>
                                </div>
                                <div class = "blockcolumn">
                                    <button id="block3"class = "block_editor">BLOCK 3</button>
                                    <button id="Add_block3" class="AddButton"> + </button>
                                    <button id="Minus_block3" class="MinusButton"> - </button>
                                </div>
                                <div class = "blockcolumn">
                                    <button id="block4"class = "block_editor">BLOCK 4</button>
                                    <button id="Add_block4" class="AddButton"> + </button>
                                    <button id="Minus_block4" class="MinusButton"> - </button>
                                </div>
                                <div class = "blockcolumn">
                                    <button id="block5"class = "block_editor">BLOCK 5</button>
                                    <button id="Add_block5" class="AddButton"> + </button>
                                    <button id="Minus_block5" class="MinusButton"> - </button>
                                </div>
                            </div>
                        </div>
                        <div id= "outputbox" style="box-sizing: border-box; height: 520px;width: 25%">
                            <div class = "staticClassifier">
                                <div class="linear_layer" >
                                    <p> Linear Layer </p>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
                                    <div class="classifier_input">
                                    </div>
            
                                </div>
                                <div class="column" style = " justify-content:center; margin-top: 0%;">
                                    <p> Classification </p>
                                    <div class="classifier_class"> 0
                                    </div>
                                    <div class="classifier_class"> 1
                                    </div>
                                    <div class="classifier_class"> 2
                                    </div>
                                    <div class="classifier_class"> 3
                                    </div>
                                    <div class="classifier_class"> 4
                                    </div>
                                    <div class="classifier_class"> 5
                                    </div>                
                                    <div class="classifier_class"> 6
                                    </div>
                                    <div class="classifier_class"> 7
                                    </div>
                                    <div class="classifier_class"> 8
                                    </div>
                                    <div class="classifier_class"> 9
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "row" style= "display:flex;justify-content:center; margin-right: 7%;">
                        <div class = "infobox" id = "infobox">
                            <img class = "info-icon" src="../static/include/Images/info.png" alt="Information Box" width="50px">
                            <p id="infotext" class = "infotext"></p>
                            <button id = "hide" class="button" style="position: absolute; top: 25%; right: 10px; transform: translateY(-50%)"> HIDE </button>
                            <br>
                            <br>
                            <button id = "show_more" class="button" style="position: absolute; top: 75%; right: 10px; transform: translateY(-50%)">SHOW MORE</button>
                        </div>
                    </div>
            
                    </div>
                </div>
                
            </div>
        </section>
        <section class="model-builder">
            <div class="container model-builder">
                <div class="modelbuilder-text">
                    <h2>The Model Builder</h2>
                </div>


            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <!-- Footer content -->
        </div>
    </footer>

    <script src="{{ url_for('static', filename='blocks/blocks.js') }}"></script>
    <script src="{{ url_for('static', filename='infobox/infobox.js') }}"></script>
    <script src="{{ url_for('static', filename='navbar/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='options/options.js') }}"></script>
    <script src="{{ url_for('static', filename='test/test.js') }}"></script>
    <script src="{{ url_for('static', filename='training/training.js') }}"></script>

</body>
</html>
