<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usable Machine Learning</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='intro_ml.css') }}">
</head>
<body>
    <header class="header-background">
        <div class="container header-content">
            <h1>USABLE MACHINE LEARNING</h1>
        </div>
    </header>
    <section class="ml-fullscreen">
        <div class="container">
            <div class="ml-text">
                <h2>What is Machine Learning?</h2>
                <p>
                    Machine Learning, is a field of artificial intelligence that enables prediction of events as well as recognition of patterns by abstracting from a given dataset. This application covers a typical machine learning task: recognition of hand written digits.</p>
            </div>
        </div>
    </section>
    <main>
        <section class="cnn-explanation">
            <div class="container cnn-container">
                <div class="cnn-text">
                    <h2>Understanding CNNs</h2>
                    <p>
                        Convolutional Neural Networks (CNNs) are at the heart of modern AI, powering advancements in computer vision. From facial recognition to medical image analysis, CNNs help machines see and understand our world.
                    </p>
                    <p>
                        The animation shows how models are able to recognize hand written digits from MNIST - a database containing 60000 handwritten digits.
                    </p>
                </div>
                <div class="cnn-gif">
                    <img src="{{ url_for('static', filename='include/convolution_animation.gif') }}" alt="CNN Process Visualization">
                </div>
            </div>
            <div class="explanation-container">
                <p>The moving red box in the animation is called a <strong>kernel</strong> or <strong>filter</strong>, and it slides over the image to detect features like edges and patterns. The result of this process is what we call a <strong>feature map</strong>, shown on the right, which highlights important details the network will use to make decisions.</p>
            </div>
        </div> 
        </section>
        <section class="model-builder">
            <div class="container model-builder">
                <div class="modelbuilder-text">
                    <h2>The Model Builder</h2>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <!-- Footer content -->
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
