<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <!-- Add any additional CSS or styling here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='blocks/blocks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='infobox/infobox.css') }}">

    <script src=" https://cdn.jsdelivr.net/npm/leader-line@1.0.7/leader-line.min.js "></script>


</head>
<body>
    <div style= "display:block;">
        <p style=" margin-left:20% ; margin-right:20%">
            Welcome to your machine learning playground. <br>
            In the following steps you are able to build your own convolutional neural network, train it and test it. <br>
            Click on the different parts to show an info text explaining what it will do. <br>
            For starters, please choose how many blocks you want to implement in your model. <br>
        </p>
        <div style="display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-family: Arial, sans-serif;
        text-align: center;">
            <div class="MNIST" id="inputbox" style="border: 2px solid #000000;">
                <h2> 
                    MNIST Dataset
                </h2>
                <img src="../static/include/Images/UML_MNIST.png" alt="Visualization of handwritten digit from the MNIST set. Shown are 5 items per digit." width="200px">
            </div>
                <div id = "rectanglelayer" class = "rectanglelayer" style="margin:5%">

                    
                    <div style="width:100%">
                        <h3> Convolutional Blocks</h3>
                        <div class = "blockcolumn">
                            <button id="block1"class = "block_editor">BLOCK 1</button>
                            <button id="Add_block1", class="AddButton"> + </button>
                            <button id="Minus_block1" class="MinusButton"> - </button>
                        </div>
                        <div class = "blockcolumn">
                            <button id="block2"class = "block_editor">BLOCK 2</button>
                            <button id="Add_block2" class="AddButton"> + </button>
                            <button id="Minus_block2" class="MinusButton"> - </button>
                        </div>
                        <div class = "blockcolumn">
                            <button id="block3"class = "block_editor">BLOCK 3</button>
                            <button id="Add_block3" class="AddButton"> + </button>
                            <button id="Minus_block3" class="MinusButton"> - </button>
                        </div>
                        <div class = "blockcolumn">
                            <button id="block4"class = "block_editor">BLOCK 4</button>
                            <button id="Add_block4" class="AddButton"> + </button>
                            <button id="Minus_block4" class="MinusButton"> - </button>
                        </div>
                        <div class = "blockcolumn">
                            <button id="block5"class = "block_editor">BLOCK 5</button>
                            <button id="Add_block5" class="AddButton"> + </button>
                            <button id="Minus_block5" class="MinusButton"> - </button>
                        </div>
                    </div>
                </div>
            <div class = "staticClassifier" id = "outputbox">
                <div class="linear_layer">
                    <p style="margin-top: 30%"> Linear Layer </p>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>

                </div>
                <div class="row" style="justify-content:right;">
                    <div class="column" style = "justify-content:center; margin-top: 25%">
                        <p> Classification </p>
                        <div class="classifier_class"> 0
                        </div>
                        <div class="classifier_class"> 1
                        </div>
                        <div class="classifier_class"> 2
                        </div>
                        <div class="classifier_class"> 3
                        </div>
                        <div class="classifier_class"> 4
                        </div>
                        <div class="classifier_class"> 5
                        </div>                
                        <div class="classifier_class"> 6
                        </div>
                        <div class="classifier_class"> 7
                        </div>
                        <div class="classifier_class"> 8
                        </div>
                        <div class="classifier_class"> 9
                        </div>
                    </div>
                </div>

            </div>
        </div>
            <div class = "row" style= "display:flex;justify-content:center; margin-right: 7%;">
                <div class = "infobox" id = "infobox">
                    <img class = "info-icon" src="../static/include/Images/info.png" alt="Information Box" width="50px">
                    <p id="infotext" class = "infotext"></p>
                    <button id = "hide" class="button" style="position: absolute; top: 25%; right: 10px; transform: translateY(-50%)"> HIDE </button>
                    <br>
                    <br>
                    <button id = "show_more" class="button" style="position: absolute; top: 75%; right: 10px; transform: translateY(-50%)">SHOW MORE</button>
                </div>
            </div>

        </div>
    </div>
    <nav class="navbar">
        <button id= "ModelPage"  class="navbarcontent">Model Builder</button>
        <button id= "ParamPage" class="navbarcontent">Parameters</button>
        <button id= "TrainPage" class="navbarcontent">Train</button>
        <button id= "TestPage"  class="navbarcontent">Test</button>
    </nav>
<div id="popup-container" class="popup">
    <div style="padding: 10px">
        <p id="popup-text">By Continuing you will loose your training progress. Are you sure?</p>
        <button id="discard">Discard Model</button>
        <button id="cancel"> Cancel </button>
    </div>
</div>
    <!-- only need this once -->
    <script src="{{ url_for('static', filename='navbar/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='infobox/infobox.js') }}"></script>
    <script src="{{ url_for('static', filename='blocks/blocks.js') }}"></script>
</body>
</html>
