<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='blocks/blocks.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar/navbar.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/socket.io/client-dist/socket.io.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/leader-line@1.0.7/leader-line.min.js "></script>
        <title> Machine Learning Playground</title>
    </head>
<body>
<div style="width:90%;" class = "row"> 
    <div style="display:flex; flex-direction:row; align-items: center; margin-top:10%; margin-left: 5%;">
        <div class = "blockcolumn">
            <div class="inputbox">
                <canvas id="inputbox" class = "inputCanvas"></canvas>
                <div class = "controls_column">
                    <button id ="reset" class = "resetButton" aria-label="Reset" style="margin-bottom : -50px; margin-left: 50px">
                        <!-- SVG für das Reset-Symbol -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 40 40">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
                        </svg>
                    </button>
                    <button id = "classify" class = "resetButton" aria-label="classify" style = "margin-bottom : -60px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-play" viewBox="0 0 40 40">
                            <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                        </svg>
                    </button>
                    <p id ="predictionText" style ="display:none;"></p>   <!--Can be deleted later as containers will show percentage instead-->
                </div>
            </div>
        </div>
        <div id = "rectanglelayer"class = "rectanglelayerViz" style="width:30%">
            <div style="width:100%">
                <p style="margin-bottom:-5px; margin-top: 0px"> Convolutional Blocks</p>
                <div class = "blockcolumn">
                    <button id="block1" class = "block">BLOCK 1</button>
                </div>
                <div class = "blockcolumn">
                    <button id="block2" class = "block">BLOCK 2</button>
                </div>
                <div class = "blockcolumn">
                    <button id="block3" class = "block">BLOCK 3</button>
                </div>
                <div class = "blockcolumn">
                    <button id="block4" class = "block">BLOCK 4</button>
                </div>
                <div class = "blockcolumn">
                    <button id="block5" class = "block">BLOCK 5</button>
                </div>
            </div>
        </div>
        <div id= "outputbox" style="box-sizing: border-box; height: 520px;width: 25%">
            <div class = "staticClassifier">
                <div class="linear_layer" >
                    <p> Linear Layer </p>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>
                    <div class="classifier_input">
                    </div>

                </div>
                <div class="column" style = " justify-content:center; margin-top: 0%;">
                    <p> Classification </p>
                    <div class="classifier_class"> 0
                    </div>
                    <div class="classifier_class"> 1
                    </div>
                    <div class="classifier_class"> 2
                    </div>
                    <div class="classifier_class"> 3
                    </div>
                    <div class="classifier_class"> 4
                    </div>
                    <div class="classifier_class"> 5
                    </div>                
                    <div class="classifier_class"> 6
                    </div>
                    <div class="classifier_class"> 7
                    </div>
                    <div class="classifier_class"> 8
                    </div>
                    <div class="classifier_class"> 9
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <button id= "ModelPage"  class="navbarcontent">Model Builder</button>
        <button id= "ParamPage" class="navbarcontent">Parameters</button>
        <button id= "TrainPage" class="navbarcontent">Train</button>
        <button id= "TestPage"  class="navbarcontent">Test</button>
    </nav>
    <div id="popup-container" class="popup">
        <div style="padding: 10px">
            <p id="popup-text">By Continuing you will loose your training progress. Are you sure?</p>
            <button id="discard">Discard Model</button>
            <button id="cancel"> Cancel </button>
        </div>
    </div>
    <!-- only need this once -->
    <script src="{{ url_for('static', filename='blocks/blocks.js') }}"></script>
    <script src="{{ url_for('static', filename='navbar/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='test.js') }}"></script>
</body>
</html>
